<link rel="stylesheet" href="/css/contact.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">


<div id="contact" class="input-overlay glitch-element">AV-5</div>
<div class="content-container">
    <img id="archive-hero" class="hero-img glitch-element" src="/assets/index/kikilogo.png">
</div>
<div id="contact" class="contact-content-container">
    <div class="contact-element-container glitch-element">
        <div class="contact-border">
            <p class="contact-top-text">contact</p>
            <p class="contact-accent contact-list-back">X</p>
        </div>
        <div class="contact-container">
            <div class="contact-container-left">
                <p class="contact-text">
                    I like working with people on creative projects.<br><br>
                    Hit me up for music collabs, websites/apps, graphic design, or video editing.
                </p>
            </div>
            <hr class="contact-hr">
            <div class="contact-container-right">
                <p class="contact-text">
                    <a target="_blank" class="contact-href" href="mailto:1kikiluvv@gmail.com"><i class="ri ri-mail-line"></i>1kikiluvv@gmail.com</a>
                    <a target="_blank" class="contact-href" href="https://www.instagram.com/1kikiluvv/"><i class="ri ri-instagram-line"></i>@1kikiluvv</a>
                    <a target="_blank" class="contact-href" href="https://soundcloud.com/1kikiluvv"><i class="ri ri-soundcloud-line"></i>@1kikiluvv</a>
                    <a target="_blank" class="contact-href" href=""><i class="ri ri-discord-line"></i>@1kikiluvv#123</a>


                </p>
                
            </div>
        </div>
    </div>
</div>

<script src="/js/contact/contact.js"></script>