<link rel="stylesheet" href="/css/home.css">

<div id="home" class="input-overlay glitch-element">AV-1</div>
<div class="content-container">
    <img class="hero-img glitch-element" src="/assets/index/kikilogo.png">
</div>
<div class="content-container glitch-element">
    <div class="typewriter">
        <p class="typewriter-top-text">kikiluvv.com</p>
        <p class="typewriter-accent">X</p>
    </div>
    <div class="typewriter-content">
        <div class="typewriter-text">
            <div class="text-container text-1">
                <span id="text"></span>
                <span class="cursor">|</span>
            </div>
            <div class="text-container text-2">
                <span id="text2"></span>
                <span class="cursor cursor2">|</span>
            </div>
            <div class="text-container text-3">
                <span id="text3"></span>
                <span class="cursor cursor3">|</span>
            </div>
            <div class="text-container text-4">
                <span id="text4"></span>
                <span class="cursor cursor4">|</span>
            </div>
        </div>
    </div>
</div>

<script src="/js/index/text.js"></script>