<link rel="stylesheet" href="/css/projects.css">


<div id="projects" class="input-overlay glitch-element">AV-3</div>
<div class="content-container">
    <img id="project-hero" class="hero-img glitch-element" src="/assets/index/kikilogo.png">
</div>
<div id="project" class="project-content-container project-container-active">

    <div class="project-menu-container">
        <a style="text-decoration: none;" target="_blank" href="http://www.a2h.digital">
            <div class="project-menu-link" data-plink="project">
                <img class="project-menu-icon glitch-element" src="/assets/global/web.png">
                <p class="project-menu-text glitch-element">appeal2heaven</p>
            </div>
        </a>
    </div>
    <div class="project-menu-container">
        <div class="project-menu-link" data-plink="websites">
            <img class="project-menu-icon glitch-element" src="/assets/global/web.png">
            <p class="project-menu-text glitch-element">website credits</p>
        </div>
    </div>
    <div class="project-menu-container">
        <div class="project-menu-link" data-plink="apps">
            <img class="project-menu-icon glitch-element" src="/assets/global/web.png">
            <p class="project-menu-text glitch-element">apps</p>
        </div>
    </div>
</div>

<div id="websites" class="project-content-container">
    <div class="project-element-container glitch-element">
        <div class="project-border">
            <p class="project-top-text">website credits</p>
            <p class="project-accent project-menu-back">X</p>
        </div>
        <div class="project-container">
            <div class="project-text">
                <p class="project-site-text">
                    <a class="project-href" style="padding: 0;" target="_blank" href="https://www.theneighborhoodcat.com">www.theneighborhoodcat.com</a> 
                </p>
                <p class="project-site-text">
                    <a class="project-href" style="padding: 0;" target="_blank" href="https://www.a2h.digital">www.a2h.digital</a> 
                </p>
                <p class="project-site-text">
                    <a class="project-href" style="padding: 0;" target="_blank" href="https://www.littl3h0use.store">www.littl3h0use.store</a> 
                </p>
            </div>
        </div>
    </div>
</div>

<div id="apps" class="project-content-container">
    <div class="project-element-container glitch-element">
        <div class="project-border">
            <p class="project-top-text">apps</p>
            <p class="project-accent project-menu-back">X</p>
        </div>
        <div class="project-container">
            <div class="project-list-container">
                <div class="project-list-link" data-plistlink="deezclicks">
                    <p class="project-list-text glitch-element">deezClicks</p>
                </div>
                <div class="project-list-link" data-plistlink="deeznodes">
                    <p class="project-list-text glitch-element">deezNodes</p>
                </div>
                <div class="project-list-link" data-plistlink="deezsites">
                    <p class="project-list-text glitch-element">deezSites</p>
                </div>
                <div class="project-list-link" data-plistlink="apps">
                    <p class="project-list-text glitch-element">more coming soon</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deezclicks" class="project-content-container">
    <div class="project-element-container glitch-element">
        <div class="project-border">
            <p class="project-top-text">deezClicks</p>
            <p class="project-accent project-list-back">X</p>
        </div>
        <div class="project-container">
            <p class="project-app-text">
                deezClicks is a lightweight auto-clicker from the command line.<br>
                Allows a clicking value from 1-250 CPS.<br>
                Features a mappable killswitch.
            </p>
            <a class="project-href" target="_blank" href="">Download on NPM</a>
        </div>
    </div>
</div>

<div id="deeznodes" class="project-content-container">
    <div class="project-element-container glitch-element">
        <div class="project-border">
            <p class="project-top-text">deezNodes</p>
            <p class="project-accent project-list-back">X</p>
        </div>
        <div class="project-container">
            <p class="project-app-text">
                deezNodes is a lightweight server restarter for nodeJS projects.<br>
                deezNodes will listen for changes in your code and automatically restart your server.<br>
            </p>
            <a class="project-href" target="_blank" href="">Download on NPM</a>
        </div>
    </div>
</div>

<div id="deezsites" class="project-content-container">
    <div class="project-element-container glitch-element">
        <div class="project-border">
            <p class="project-top-text">deezSites</p>
            <p class="project-accent project-list-back">X</p>
        </div>
        <div class="project-container">
            <p class="project-app-text">
                deezSites is a repository of website building tools including tempaltes, modules, and file converters.<br>
                Build a real website from scratch without any previous experience with coding.<br>
            </p>
            <a class="project-href" target="_blank" href="">Download on NPM</a>
        </div>
    </div>
</div>

<script src="/js/projects/projects.js"></script>
<script src="/js/projects/apps.js"></script>