.hero-img {
    width: 35%;
}

.typewriter {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 4vh;
    font-family: monospace;
    font-size: x-large;
    border: 1px solid #ccc;
}

.typewriter-accent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    padding: 0;
    margin: 0;
    color: #ccc;
    font-size: xx-large;
    border: 1px solid #ccc;
}

.typewriter-accent:hover {
    color: red;
    cursor: pointer;
}

.typewriter-content {
    width: 50%;
    height: 40vh;
    margin: 0;
    color: #ccc;
    font-size: xx-large;
    border: 1px solid #ccc;
}

.typewriter-top-text {
    padding: 0;
    margin: 0;
    font-size: xx-large;
    color: #ccc;
}

.typewriter-text {
    height: 100%;
    padding: 15px;
    font-size: xx-large;
}

.text-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.cursor {
    animation: blink 1s infinite;
    color: #ccc;
}

.cursor2,
.cursor3,
.cursor4 {
    display: none;
    animation: blink 1s infinite;
    color: #ccc;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


@media (max-width: 768px) {

    .typewriter-content {
        height: 50vh;
    }
}

@media (max-width: 650px) {

    .typewriter {
        width: 55%;
    }
    .typewriter-content {
        height: 60vh;
        width: 55%;
    }
}

@media (max-width: 550px) {
    
    .hero-img {
        width: 55%;
    }

    .typewriter {
        width: 60%;
    }

    .typewriter-content {
        height: 60vh;
        width: 60%;
    }
}

@media (max-width: 460px) {

    .content-container {
        top: 5vh;
     }

    .typewriter {
        width: 70%;
    }

    .typewriter-content {
        height: 60vh;
        width: 70%;
    }
}

@media (max-width: 390px) {
    .content-container {
        top: 10vh;
     }
    .hero-img {
        width: 80%;
    }
    .typewriter-top-text,
    .typewriter-text {
        font-size: x-large;
    }

    .typewriter-content {
        height: 40vh;
    }
}

@media (max-width: 365px) {
    .content-container {
       top: 10vh;
    }
    .typewriter-top-text,
    .typewriter-text {
        font-size: x-large;
    }

    .typewriter-content {
        height: 50vh;
    }
}