#projects {
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#project-hero {
    transition: all 0.5s ease;
}

.project-content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.project-menu-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.project-menu-icon {
    position: relative;
    width: 30%;
}

.project-menu-icon:active {
    border: 2px solid #ccc;
}

.project-menu-text {
    margin: 0;
    padding: 0;
    color: #ccc;
    font-size: xx-large;
}

.project-element-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}


.project-border {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 4vh;
    font-family: monospace;
    font-size: x-large;
    border: 1px solid #ccc;
}

.project-top-text {
    padding: 0;
    margin: 0;
    color: #ccc;
    font-size: xx-large;
}

.project-accent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    padding: 0;
    margin: 0;
    color: #ccc;
    font-size: xx-large;
    border: 1px solid #ccc;
    cursor: pointer;
}

.project-accent:hover {
    color: red;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vh;
    margin: 0;
    color: #ccc;
    font-size: xx-large;
    border: 1px solid #ccc;
}

#project-container-certified {
    height: 62vh;
}

.project-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 15px;
    filter: grayscale();
}

.project-app-text {
    position: relative;
    display: flex;
    padding: 15px;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.project-site-text {
    position: relative;
    display: flex;
    height: auto;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.project-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.project-list-text {
    position: relative;
    display: flex;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.project-href {
    color: #ccc;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
}

.project-href:hover {
    text-decoration: underline;
}

.project-list-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cursor {
    animation: blink 1s infinite;
    color: #ccc;
}

.cursor2,
.cursor3,
.cursor4 {
    display: none;
    animation: blink 1s infinite;
    color: #ccc;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .project-container,
    .project-border {
        width: 100%;
    }
}